*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-heading {
    padding: 10px;
    background: purple;
    text-align: center;
    color: white;
    font-size: larger;
}

.main-container {
    display: flex;
    padding-bottom: 50px;
}

.image-container {
    width: 30%;
    padding: 10px;
    text-align: center;
}

.image-container img {
    width: 20rem;
}

.details-container {
    width: 100%;
    padding: 10px;
}

footer {
    padding: 10px;
    background: gray;
    text-align: center;
    color: white;
    font-size: larger;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-holder .btn {
    background: rgb(31, 31, 31);
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: larger;
    cursor: pointer;
}

.option-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;

}

@media only screen and (max-width: 1100px) {
    .image-container {
        width: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .main-container {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }
}



@media only screen and (max-width: 500px) {


    .image-container img {
        width: 100%;
    }
}